
div.logo img{
    height: 140px; 
}

div.footer{
    margin-top:700px;
    display: flex;
    justify-content: center;
    background-color:#64abfb;
    
    
}

a#réso{
    position: relative;
    top:28px ;
    left: 40px;

}